<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PrestaMe.Windows.Properties.Settings.prestaMeDBConnectionString"
            connectionString="Data Source=JAM-PC\JAMYRCARRASCO;Initial Catalog=prestaMeDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>